<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:f="http://xmlns.jcp.org/jsf/core"
      xml:lang="en" lang="en">
<h:head>
    <title>ORDERS</title>
</h:head>
<h:body>
    <h:panelGroup id="orders">
        <h:form>
            <h:dataTable value="#{orderBean.orders}" var ="order">
                <h:column>
                    <f:facet name = "header">OrderId</f:facet>
                    <h:outputLabel value="#{order.id}"/>
                </h:column>
                <h:column>
                    <f:facet name = "header">ProductId</f:facet>
                    <h:outputLabel value="#{order.productId}"/>
                </h:column>
                <h:column>
                    <f:facet name = "header">Name</f:facet>
                    <h:outputLabel value="#{order.productName}"/>
                </h:column>
                <h:column>
                    <f:facet name = "header"> Amount</f:facet>
                    <h:outputLabel value ="#{order.amount}"/>
                </h:column>
                <h:column>
                    <h:commandLink value="Send" action="#{orderBean.sendOrder(order.id)}">
                        <f:ajax event="action" render="studenten"/>
                    </h:commandLink>
                </h:column>
            </h:dataTable>
        </h:form>
    </h:panelGroup>
</h:body>
</html>